body {
	background-color: #000;
	font-family: "Arial";
	color: #FFFFFF;
	text-decoration: none;
	margin:0px 0px 0px 0px;
}
h1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color:#FFF;
	margin:0px 0px 1px 0px;
	text-decoration: underline;
}
h1.mob {
	font-size: 12pt;
}
h3.desk {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color:#FFF;
	margin:0px 0px 1px 0px;
	text-decoration:overline;
	text-align:center;}
h4.desk {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color:#FFF;
	margin:5px 0px 3px 0px;
	text-decoration:none;}
a.btn-link div {
	width:80px;
	height:50px;
	border: 5px solid #111;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
a.btn-link:hover div {
	width:80px;
	height:50px;
	border: 5px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
a.btn-link img {
	width:80px;
	height:50px;
}
a.btn-link div.tday {
	width:165px;
	height:50px;
}
a.btn-link:hover div.tday {
	width:165px;
	height:50px;
}
a.btn-link img.tday {
	width:165px;
	height:50px;
}

table.tmain {
	border-collapse:collapse;
	width:100%
}
table.tmain td.tmain-t {
	text-align:center;
	vertical-align:top;
	background: url(images/bgtop.png);
	background-repeat:repeat-x;
}
table.tmain td.tmain-ma {
	text-align:right;
	vertical-align:top;
	width:950px;
}
table.tmain td.tmain-mb {
	background-color: #222222;
	text-align: left;
	vertical-align:top;
	width:300px;
}
/*Search Page*/
table.tmain td.tmain-sa {
	background-color: #222222;
	text-align: left;
	vertical-align:top;
	width:300px;
}
table.tmain td.tmain-sb {
	text-align: left;
	vertical-align:top;
	width:920px;
	padding-left:30px;
	padding-top:15px;
}
table.tmain td.tmain-b {
	text-align:center;
	vertical-align:baseline
}
table.tmain td.tmain-spacer {
	text-align:center;
	vertical-align:baseline;
}
/*Newspapers Page*/
table.tmain td.tmain-npmenu {
	background-color: #222222;
	text-align: left;
	vertical-align:top;
	width:300px;
}
table.tmain td.tmain-npicons {
	text-align: left;
	vertical-align:top;
	padding-left:5px;
	padding-top:5px;
	width:820px;
}
table.tmain td.tmain-npad {
	text-align: right;
	vertical-align:top;
	width:160px;
}
table.tmain td.tmain-nppaper {
	text-align: left;
	vertical-align:top;
	width:960px;
	padding-left:5px;
	padding-top:5px;
}
/* Newspapers Icons Link */
a.nplink div {
	float:left;
	width:100px;
	height:100px;
	border: 5px solid #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#111;
	margin:5px;		
}
a.nplink:hover div {
	float:left;
	width:100px;
	height:100px;
	border: 5px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#111
}

table.tstage {
	border-collapse:collapse;
	vertical-align:top;
	width:950px
}
table.tstage td.tstage-a {
	background-color: #222222;
	text-align: right;
	width:300px;
	vertical-align: bottom;
	height:600px
}
table.tstage td.tstage-b {
	text-align: right;
	vertical-align:top;
	width:650px;
}
table.tstage td.tstage-c {
	background-color: #222222;
	text-align: left;
	vertical-align:top;
	width:170px;
	font-size:13px
}
table.tstage td.tstage-d {
	text-align: center;
	vertical-align:top;
	width:780px;
}

table.theader {
	border-collapse:collapse;
	width:1250px;
}
table.theader td.theader-1 {
	text-align:left;
	vertical-align:top;
	height:90px;
	vertical-align:middle
}
table.theader td.theader-2 {
	text-align: center;
	vertical-align:top;
	height:50px;
	vertical-align:middle
}
table.theader td.theader-3 {
	text-align:center;
	vertical-align:top;
	width:650px;
	height:10px;
	vertical-align: top
}
table.ticons {
	width:100%;
	background-color: #222222;
	border:medium #222222 solid
}
table.ticons side {
	width:100%;
	background-color: #ffffff;
	border:medium #ffffff solid
}
table.ticons td.ticons-h {
	color:#19A2DE;
	font-weight:bold;
	font-size:18px
}

table.ticons td.ticons-icon {
	text-align:center;
	vertical-align: top;
	background-color:#111111;
	border:1px #222222 solid;
	padding:0px;
}
/* Channels Icons Link */
a.channel:link {
	color: #FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
}
a.channel:visited {
	color: #FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
}
a.channel:hover {
	color: #FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
}
a.channel img {
	width:110px;
	height:70px;
	border: 7px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#111
}
a.channel img.mob {
	width:65px;
	height:40px;
}
a.channel:hover img.mob {
	width:65px;
	height:40px;
}
a.channel:hover img {
	width:110px;
	height:70px;
	border: 7px solid #111;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#111
}
a.channel img.progrec {
	width:280px;
	height:100px;
	border: 3px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#111
}
a.channel:hover img.progrec {
	width:280px;
	height:100px;
	border: 3px solid #111;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#111
}

a.channel img.progsq {
	width:230px;
	height:100px;
	border: 2px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#111
}
a.channel:hover img.progsq {
	width:230px;
	height:100px;
	border: 2px solid #111;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color:#111
}

a.channel div {
	background-color:#111;
	border:#000 2px solid;
	padding: 8px 8px 8px 8px;
}
a.channel:hover div {
	background-color:#000;
	border:#FFF 2px solid;
	padding: 8px 8px 8px 8px;
}

a.channel div.progdiv {
	background-color:#111;
	border:#000 2px solid;
	padding: 0px 0px 0px 0px;
}
a.channel:hover div.progdiv {
	background-color:#000;
	border: #FFF 2px solid;
	padding: 0px 0px 0px 0px;
}

/* Tooltip label 
label {
display: inline-block;
width: 5em;
}*/

/* Tables */
table.prog {
	width:100%;
	border-collapse:collapse;
	}
table.prog td.prog-name {
	text-align:left;
	color: #F90;
	font-size:14px;
}
table.prog td.prog-date {
	text-align:right;
	font-weight:normal;
	font-size:12px;
	color: #F90;
	white-space:nowrap}
table.prog td.prog-topic {
	font-weight:normal;
	text-align:left;
	font-size:12px;
}

table.video {
	width:100%;
	border-collapse:collapse;
	}
table.video td.video-pic {
	background-color: #222222;
	width:20px;
	text-align: left;
}
table.video td.video-name {
	background-color: #222222;
	text-align: center;
	vertical-align:bottom;
}
table.video td.video-date {
	background-color: #222222;
	width:20px;
	text-align:right;
	vertical-align:bottom;
	font-weight: bold;
	font-size:14px;
	color: #F90;
	white-space:nowrap}
table.video td.video-spacer {
	width:50px;
	text-align: right;
	vertical-align: top;
}

/* Feedback Form */
#slideout {
	position: fixed;
	top: 200px;
	left: 0;
	width: 35px;
	padding: 12px 0;
	text-align: center;
	background: #6DAD53;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
#slideout_inner {
	position: fixed;
	top: 200px;
	left: -275px;
	background: #6DAD53;
	width: 200px;
	padding: 25px 25px 25px 50px;
	height: 200px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-align: left;
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}
#slideout_inner textarea {
	width: 200px;
	height: 100px;
	margin-bottom: 6px;
}
#slideout:hover {
	left: 200px;
}
#slideout:hover #slideout_inner {
	left: 0;
}

<!-- Facebook pop up -->
#popupwindow {
display:none;
background:rgba(0,0,0,0.6); /*Set Window Background Color*/
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
z-index:99999;
}
#backgroundsetting {
width:455px;
height:255px;
position:relative;
background:#ffffff; /*Set Popup box Background Color*/
top:20%;
left:2%;
margin:0px auto;
}
#imagepopup {
cursor:pointer;
background:url(images/popupclose.png) repeat; /*Close Icon Url*/
height:40px;
width:40px;
margin-top:-258px;
margin-left:413px;
position:absolute;
}
<!-- Facebook pop up  End -->